version: "3.9"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: dudu
      POSTGRES_PASSWORD: zukti5570)
      POSTGRES_DB: dudu_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  backend:
    depends_on:
      - db
    build: .
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=dudu
      - POSTGRES_PASSWORD=zukti5570)
      - POSTGRES_DB=dudu_db

volumes:
  pgdata:
