name: Node.js CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: dudu
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: dudu_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_USER: dudu
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_DB: dudu_db
      NODE_ENV: test

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      - name: Run migrations
        run: npm run migration:dev:run

      - name: Run tests
        run: npm test


  docker-build-push:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/dudu_backend:latest


  deploy-to-aws:
    runs-on: ubuntu-latest
    needs: docker-build-push
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to AWS server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 13.251.156.246
          username: ubuntu
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/dudu_backend:latest
            docker stop dudu_backend || true
            docker rm dudu_backend || true
            docker run -d \
              --name dudu_backend \
              -p 3000:3000 \
              --memory="1.5g" \            # Limit container memory to 1.5 GB
              --memory-swap="2g" \          # Allow up to 2 GB swap
              -e BACKEND_API_URL=${{ secrets.BACKEND_API_URL }} \
              -e POSTGRES_HOST=${{ secrets.POSTGRES_HOST }} \
              -e POSTGRES_USER=${{ secrets.POSTGRES_USER }} \
              -e POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} \
              -e POSTGRES_DB=${{ secrets.POSTGRES_DB }} \
              -e POSTGRES_PORT=${{ secrets.POSTGRES_PORT }} \
              -e JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }} \
              -e NODE_ENV=${{ secrets.NODE_ENV }} \
              -e PORT=${{ secrets.PORT }} \
              ${{ secrets.DOCKER_USERNAME }}/dudu_backend:latest

            # Run migrations inside container if needed
            docker exec dudu_backend npm run migration:dev:run
